<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <menu id="root-menu" label="Openbox 3.6.1">
    <item label="Terminal">
      <action name="Execute">
        <command>xterm</command>
        <startupnotify>
          <enabled>yes</enabled>
          <wmclass>xTerm</wmclass>
        </startupnotify>
      </action>
    </item>
  </menu>
</openbox_menu>
